<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <?include Includes.wxi?>
  <Product Id="$(var.ProductGuid)"
           Name='Wingufile $(var.CurrentWingufileVersion)'
           Language='1033'
           Version='$(var.CurrentWingufileVersion)'
           Manufacturer='!(loc.Manufacturer)'
           UpgradeCode="$(var.CurrentUpdateGuid)" >
    
    <!-- We set InstallScope to perMachine to install for all users -->
    <Package Description='!(loc.PackageDescription)' Comments='!(loc.PackageComments)'
             Manufacturer='!(loc.Manufacturer)'
             InstallerVersion='200'
             InstallPrivileges='elevated' InstallScope='perMachine'
             Compressed='yes' />
    
    <!-- Don't allow downgrade. -->
    <MajorUpgrade DowngradeErrorMessage='!(loc.DowngradeErrorMessage)' />

    <Media Id='1' Cabinet='wingufile.cab' EmbedCab='yes' />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id="DesktopFolder" Name="DesktopFolder" />
      <Directory Id="ProgramMenuFolder">
        <Directory Id="WingufileStartMenuFolder" Name="Wingufile" />
      </Directory>
      
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='INSTALLDIR' Name='Wingufile'>
          <Component Id="comp_manual" KeyPath="yes" Guid="F0CC8900-F8B9-11E1-83FD-000C295059FB">
            <File Id="manual.txt" Name="!(loc.UserManualName)" Source="!(loc.UserManualSource)" />
          </Component>
          
          <Directory Id='bin_Dir' Name='bin'>
            <Component Id='comp_custom' Guid='A8CD54F6-9BFB-11E1-9B0E-001CBFC5CA1D'>
              <RegistryKey Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Action="createAndRemoveOnUninstall">
                <RegistryValue Name="CustomComponent" Value="1" Type="integer" KeyPath='yes' />
              </RegistryKey>
              
              <File Id="wingufdir.ico" Name="wingufdir.ico" Source="wingufdir.ico" />
              
              <!-- wingufile shortcut on desktop -->
              <Shortcut Id="ApplicationDesktopShortCut" Directory="DesktopFolder"
                        Name="Wingufile" Target="[#wingufileapplet.exe]"
                        Hotkey="0" IconIndex="0" Show="normal"
                        WorkingDirectory="bin_Dir" />

            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <Property Id="WINGUFILE_AUTO_START">1</Property>

    <!-- Auto-start via Registry -->
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="WingufileAutoStart" Guid="FED41B85-BA5A-4C95-8ABF-4A35852EE04E">
        <RegistryKey Root="HKCU"
                     Key="Software\Microsoft\Windows\CurrentVersion\Run"
                     Action="create">
          <RegistryValue Name="Wingufile" Value="[#wingufileapplet.exe]" Type="string" KeyPath="yes" />
        </RegistryKey>

        <Condition>WINGUFILE_AUTO_START</Condition>
      </Component>
    </DirectoryRef>


    <DirectoryRef Id="WingufileStartMenuFolder" >
      <Component Id="Wingufile_StartMenuShortCut" Guid="F1662C95-6C0A-4CDD-B009-C5E66A4F8C80" >
        <RemoveFolder Id="WingufileStartMenuFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]"
                       Name="installed" Type="integer" Value="1" KeyPath='yes' />
        
        <!-- shortcut to 'start wingufile' -->
        <Shortcut Id="ApplicationStartMenuShortCut" Directory="WingufileStartMenuFolder"
                  Name="!(loc.StartWingufile)" Target="[#wingufileapplet.exe]"
                  Hotkey="0" IconIndex="0" Show="normal"
                  WorkingDirectory="bin_Dir" />

        <!-- shortcut to 'Uninstall' -->
        <Shortcut Id="UninstallProduct" Name="!(loc.UninstallWingufile)"
                  Target="[SystemFolder]msiexec.exe" IconIndex="0"
                  Arguments="/x [ProductCode]" Description="!(loc.UninstallWingufile)" />
      </Component>
    </DirectoryRef>

    <Binary Id='wingufile_custom_dll32' SourceFile='custom\wingufile_custom32.dll' />
    <Binary Id='wingufile_custom_dll64' SourceFile='custom\wingufile_custom64.dll' />

    <CustomAction Id="RemoveWingufileAutoStart" BinaryKey="wingufile_custom_dll32" DllEntry="RemoveWingufileAutoStart" Execute="immediate" />
    <CustomAction Id="RemoveWingufileAutoStart64" BinaryKey="wingufile_custom_dll64" DllEntry="RemoveWingufileAutoStart" Execute="immediate" />

    <CustomAction Id="KillWingufile" BinaryKey="wingufile_custom_dll32" DllEntry="TerminateWingufile" Execute="immediate" />
    <CustomAction Id="KillWingufile64" BinaryKey="wingufile_custom_dll64" DllEntry="TerminateWingufile" Execute="immediate" />
    
    <InstallExecuteSequence>
      <!-- Ask wingufile-applet to quit before uninstall -->
      <Custom Action="KillWingufile" Before="InstallValidate">
        Installed AND (NOT VersionNT64)
      </Custom>
      <Custom Action="KillWingufile64" Before="InstallValidate">
        Installed AND VersionNT64
      </Custom>
      <!-- Remove Registry values of auto start -->
      <Custom Action="RemoveWingufileAutoStart" Before="RemoveRegistryValues">
        Installed AND (NOT VersionNT64)
      </Custom>
      <Custom Action="RemoveWingufileAutoStart64" Before="RemoveRegistryValues">
        Installed AND VersionNT64
      </Custom>
    </InstallExecuteSequence>

    <!-- UI related -->
    <Property Id='WIXUI_INSTALLDIR' Value="INSTALLDIR" />
    <UI>
      <UIRef Id='WixUI_InstallDir_NoLicense' />
      <UIRef Id='WixUI_ErrorProgressText' />
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">
        <!-- Launch Wingufile after setup. -->
        NOT Installed
      </Publish>
    </UI>
    
    <Property Id="WixShellExecTarget" Value="[#wingufileapplet.exe]" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

    <Feature Id='Main' Level='1'>
      <ComponentRef Id='Wingufile_StartMenuShortCut' />
      <ComponentRef Id="WingufileAutoStart" />
      <ComponentRef Id='comp_custom' />
      <ComponentRef Id='comp_manual' />
      <!-- defined in fragment.wxs -->
      <ComponentGroupRef Id='group_bin' />
    </Feature>

    <Property Id="CHECKBOX_DEL_WINGUFILE_DATA" Secure="yes" />

    <WixVariable Id="WixUIBannerBmp" Value="wingufile-top-banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="wingufile-background.bmp" />
  </Product>
</Wix>

