[Desktop Entry]
Name=Wingufile
Comment=Wingufile
TryExec=wingufile-applet
Exec=wingufile-applet
Icon=wingufile
Type=Application
Categories=Network;FileTransfer;
